<!-- Footer -->
<footer class="footer mt-auto py-3" style="padding-bottom: 80px;">
        
    <hr class="mt-0">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-auto  text-center">
                
                <a href="https://www.linkedin.com/in/ana-paula-barros-2a452190" class="btn btn-link px-2" target="_blank">
                    <span class="social_linkedin"></span>
                </a>
                <a href="https://github.com/anapaulabarros" class="btn btn-link px-2" target="_blank">
                    <span class="material-icons">code</span>
                </a>
                <a href="https://api.whatsapp.com/send?phone=https://web.whatsapp.com/send?phone=+5583981228596&amp;text=olá ana, vi seu app e achei legal!" class="btn btn-link px-2" target="_blank">
                    <span class="icon_phone"></span>
                </a>
            </div>
        </div>
        <hr>
        <p class="text-center">Parlamentares em exercício, <span class="text-mute">Quem nos representa por <a href="#" target="_blank">Ana Paula Barros</a> com </span><span class="text-danger">❤</span></p>
    </div>
</footer>
<!-- Footer ends -->
