
<header-app></header-app>

<main class="flex-shrink-0 main-container pb-0" style="padding-bottom: 55px; padding-top: 62px;">
	<div class="tab-content" id="myTabContent">
		<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
			<div class="container-fluid py-2 mb-4">
				<menu-app></menu-app><!--Menu-->
			</div>
			<app-search></app-search><!--search-->
			<item-list-app></item-list-app><!--List of politicians-->
		</div>
	</div>
</main>
<app-footer></app-footer> <!--Footer-->

